
<style>
    button{
    width:85%;
    height:46px;
    border-radius: 5px;
    background-color:  rgb(24,25,26);;
    color:white;
    border-width: 0px;
    margin-left: 13px;
    font-size: 15px;
    margin-top: 15px;
    text-align: left;
    }
    button:hover
    {
        background-color: rgb(58,59,60);
    }
    span{
    vertical-align: top;
    line-height:35px;
    margin-left: 10px;
    }
    img {
    border-radius: 50%;
    }   

</style>
<button><img src="assets/{{imagepath}}" alt="error" width="12%"height="75%"><span>{{button_name}}</span></button>