
<style>
    button{
    width:93%;
    height:46px;
    border-radius: 5px;
    background-color:  rgb(24,25,26);;
    color:rgb(181,184,189);
    border-width: 0px;
    margin-left: 13px;
    font-size: 15px;
    margin-top: 15px;
    text-align: left;
    color:white;

    }
    button:hover
    {
        background-color: rgb(59,59,60);
    }
    img {
    border-radius: 50%;
    }   
    span{
    vertical-align: top;
    line-height:35px;
    margin-left: 10px;
    }
</style>
<button><img src="assets/{{imagepath}}" alt="error" width="12%"height="75%"><span>{{chat_name}}</span> </button>